.root > * {
-primary-color: #005500;
    -on-primary-color: -fx-light-text-color;
    -primary-variant-color: #006600;
/*    

    -background-color: #330033;
    -background-variant-color: #33FF33;
    -on-background-color: -fx-light-text-color;

    -primary-color: #bb6624;
    -primary-variant-color: #a0571f;
    -secondary-color: #5C4033;
    -secondary-variant-color: #1e005f;
    -background-color: #bb6624;
    -surface-color: #FFFFFF;
    -error-color: #B00020;
    -on-primary-color: #FFFFFF;
    -on-secondary-color: #FFFFFF;
    -on-background-color: #000000;
    -on-surface-color: #000000;
    -on-error-color: #FFFFFF;*/
}

.logo {
    -fx-graphic: url("logo_small.png");
}

/*.navigation-drawer .drawer-box .header {
    -fx-background-color: wheat;
    -fx-min-height: 2.4285714286em;
}*/
